<%- include("partials/header.ejs") %>
    
    <form action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
        <div class="field">
            <label for="dog[name]">Dog's Name</label>
            <input type="text" name="dog[name]" value="<%= dog.name %>">
        </div>
        
        <div class="field">
            <label for="dog[breed]"><%= dog.breed %></label>
            <input type="text" name="dog[breed]" value="<%= dog.breed %>">
        </div>

        <div class="field">
            <label for="dog[color]">Color</label>
            <input type="text" name="dog[color]" value="<%= dog.color %>">
        </div>

        <div class="field">
            <label for="dog[age]">Age</label>
            <input type="text" name="dog[age]" value="<%= dog.age %>">
        </div>

        <div class="field">
            <label for="dog[about]">About</label>
            <textarea name="dog[about]" id="dog-about" cols="20" rows="10" required><%= dog.about %></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>


    <div class="ui container">
        <div class="form-container ui segment">
            <form class="ui form" action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
                <div class="field">
                  <label for="dog[breed]"">Dog's Breed</label>
                  <input type="text" name="dog[breed]" value="<%= dog.breed %>">
                </div>
                <div class="field">
                  <label for="dog[image]">Dog's Photo</label>
                  <input type="text" name="dog[image]" value="<%= dog.image %>">
                </div>

                <div class="field">
                    <label for="dog[credits]">Photo Credits</label>
                    <input type="text" name="dog[credits]" value="<%= dog.credits %>">
                </div>

                <div class="field">
                <label for="dog[about]">Dog's Breed About</label>
                <textarea name="dog[about]" id="dog-about" required><%= dog.about %></textarea>
                </div>
                
                <button class="ui primary button" type="submit">Submit</button>
              </form>
        </div>

        
    </div>


<%- include("partials/footer.ejs") %>