<%- include("partials/header.ejs") %>


<div class="ui container" id="fonts">
    <a class="ui primary button large" href="/dogs/new">Add New Dog <i class="plus square outline icon"></i></a>
    <section class="ui grid" id="main-content">
        <div class="doubling stackable four column row wide">
        <% dogs.forEach(function(dog) { %>
            <div class="column main-card">
                <div class="ui segment card">
                    <div class="item-img">
                        <img class="ui image thumbnail" src="<%= dog.image %>" alt="">
                    </div>
                    <div class="item-content">
                        <h2 class="item-title"><%= dog.breed %></h2>
                        <p><%= dog.about.substring(0, 100) %> ... </p>
                        <div class="item-extra">   
                            <a href="/dogs/<%= dog._id %>">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    </section>
</div>

<%- include("partials/footer.ejs") %>